.header-img{
    animation: imganime 4s ease-in-out infinite;
}


@keyframes imganime {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4REM);
    }
    100% {
        transform: translateY(0);
    }
}