@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'poppins';
    src: url('./fonts/Poppins-Regular.ttf') format('truetype');
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'poppins';
    height: 100vh;
    /* background-color:  #e9e0f6 ; */
    background-color: #f0f0f0;
   
   
}

.section{
    @apply pt-24 
}